/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}

#wrapper{
	width: 970px;
	height: 590px;
	background-color: rgb(15,53,91);
	padding: 10px;
}

#header{
	width: 950px;
	height: 75px;
	background-color: rgb(215,38,56);
	border-radius: 15px;
	display: inline-block;
	padding-top: 30px;
	padding-left: 10px;
}

#text{
	color: rgb(191,215,230);
}

#navigation{
	width: 155px;
	height: 175px;
	background-color: rgb(8,126,139);
	border-radius: 15px;
	display: inline-block;
	padding: 10px;
	margin: 5px;
	vertical-align: top;
}

#list{
	color: rgb(82,222,229);
	font-size: 12px;
}

#body{
	width: 740px;
	height: 420;
	background-color: rgb(12,24,33);
	border-radius: 15px;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	vertical-align: top;
}

#body_header{
	color: rgb(191,215,230);
	padding: 10px;
}

#body_text{
	font-size: 12px;
	color: rgb(191,215,230);
	margin: 10px;
}



#footer{
	width: 950px;
	height: 20px;
	background-color: rgb(92,102,114);
	border-radius: 15px;
	display: inline-block;
	padding: 10px;
}

#footer_text{
	font-size: 12px;
	color: rgb(191,215,230);
}

